{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "spaced-comment": [0],
    "no-unused-vars": [0],
    "no-empty": [0],
    "react/wrap-multilines": [0],
    "react/no-multi-comp": [0],
    "no-constant-condition": [0],
    "react/jsx-no-bind": [0],
    "react/prop-types": [0],
    "arrow-body-style": [0],
    "react/prefer-stateless-function": [0],
    "semi": [0],
    "global-require": [0],
    "no-shadow": [0],
    "no-useless-computed-key": [0],
    "no-underscore-dangle": [0],
    "linebreak-style":["error","windows"],
    "no-param-reassign":"warn",
    "react/jsx-filename-extension":"warn",
    "react/forbid-prop-types":"warn",
    "import/no-unresolved":"warn",
    "import/imports-first":"warn",
    "no-tabs":"off",
    "no-mixed-spaces-and-tabs":"off",
    "react/no-children-prop":"warn",
    "max-len":"off",
    "no-plusplus":"off",
    "eqeqeq":"warn",
    "new-cap":"off",
    "jsx-a11y/label-has-for":"off",
    "radix":"warn",
    "import/extensions":"warn",
    "no-duplicate-imports":"warn",
    "no-continue":"off",
    "no-new-wrappers":"off",
    "no-nested-ternary":"warn",
    "array-callback-return":"warn"
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "env": {
    "browser": true
  }
}
