@import "./skin.less";

body {
  height: 100%;
  overflow-y: hidden;
  background-color: #f8f8f8;
}

:global .ant-table {
  &.ant-table-small {
    .ant-table-thead > tr > th {
      background: #f7f7f7;
    }

    .ant-table-body > table {
      padding: 0;
    }
  }
}

:global .ant-table-pagination {
  float: none!important;
  display: table;
  margin: 16px auto !important;
}

:global .ant-popover-inner {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}

:global .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-modal {
    top: 0;

    .ant-modal-body {
      max-height: 500px;
      overflow-y: auto;
    }
  }
}
:global .ant-form-item-control{
  vertical-align:middle;
}


.button{
    padding: 10px;
    padding-left: 5px;
    border-bottom:1px green;
}

.topInput{
    padding-top: 12px;
    margin-bottom: 3px;
}

.normalInput{
    padding-top: 3px;
    margin-bottom: 3px;
}

.bottomInput{
    padding-top: 3px;
    margin-bottom: 12px;
}

.formItem{
    margin-bottom: 3px;
}

.ant-collapse-content{
 .ant-collapse-content-box {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.baseForm{
  padding:10px 4px 10px 4px;
}